# Latex files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.*

# Simulink Files
*.slxc
*.asv
slprj/

# Image Files
/img

# Matlab Drive
*.MATLABDriveTag
*.m~

# Temp
fault_tolerant_control/Matlab\ Examples/

